<div class="modal fade" id = "modalAbout">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">About</h4>
      </div>
      <div class="modal-body">
        <p>### 使い方：<br>
        ①Top画面のcreateをクリックする。<br>
        ②フォームを埋める。<br>
        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
        ・name (必須 2文字以上10文字以内)：<br>=>ぷよ図の名前を入力<br>
        ・URL (必須 http:から始まる)：<br>=>[ぷよ図エディタ]
        　(<a href="http://1st.geocities.jp/mattulwan/puyo_simulator/">http://1st.geocities.jp/mattulwan/puyo_simulator/</a>)<br>
        　にてsaveボタンを押した際に出力されるURLの項目をコピペ<br>
        ・Tags (推奨 半角スペース区切りで複数入力可)：<br>=>リンク機能を持ったタグを生成する。<br>
        ・Description (39文字以内)：<br>=>ぷよ図の説明<br>
        ・author (無指定)：<br>=>製作者の名前, 無記名の場合はanonymousが自動で入力される。<br>
        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
        ③Createボタンを押す。
      </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
